@model List<CategoryListModel>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<a class="btn btn-outline-info btn-sm my-2">Yeni Kategori Ekle</a>
<table class="table table-bordered table-hover table-sm">
    <tbody>
        <tr>
            <th>Kategori Adı</th>
            <th>İşlemler</th>

        </tr>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Name</td>
                <td>
                    <a asp-action="Update" asp-controller="Category" asp-route-id="@category.Id" class="btn btn-warning btn-sm">Düzenle</a>
                    <a asp-action="Delete" asp-controller="Category" asp-route-id="@category.Id" class="btn btn-danger btn-sm">Sil</a>
                </td>
            </tr>
        }

    </tbody>
</table>